.mainBlurb {
  background-color: #FFECD1;
  min-width: 800px;
  width: 100%;
  min-height: 1800px;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 10px 1px #252525;
  border-radius: 5px;
  border: 1px solid #252525;
}

.aboutMe {
  background-color: #FFECD1;
  padding: 20px;
  border-radius: 5%;
  border-color: #252525;
  border: 2px solid #252525;
  box-shadow: 5px 5px 10px 1px #252525;
  color: #252525;
  width:auto;
  min-width: 70%;
  min-height: 400px;
  display: flex;
}

.workExp {
  background-color: #FFECD1;
  color: #252525;
  width: 60%;
  display: flex;
}

.school {
  background-color: #FFECD1;
  color: #252525;
  width: 60%;
  display: flex; 
  padding-bottom: 10px;
}