.mainBlurb {
  background-color: #FFECD1;
  min-width: 800px;
  width: 100%;
  height: 1000px;
  display: grid;
  place-items: center;
}

.aboutMe {
  background-color: #FFECD1;
  border-radius: 10%;
  border-color: #252525;
  border: #252525;
  color: #252525;
  width: 60%;
  display: flex;
}

.workExp {
  background-color: #FFECD1;
  color: #252525;
  width: 60%;
  display: flex;
}

.school {
  background-color: #FFECD1;
  color: #252525;
  width: 60%;
  display: flex; 
}